section>.section-container {
    margin-top: -3%;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 30px;
}
nav {
    height: 400px;
    padding: 50px;
    background-color: black;
}
a {
    border: none;
    color: white;
    padding: 20px 5px;
    display: block;
}

a:hover, .active-link{
    border: none;
    color: rgb(81, 255, 0);
    font-weight: bolder;
    text-decoration: underline;
}

