body, html {
    margin: 0;
    height: 100%;
    font-size: 14px;
    font-family: 'Simonetta', cursive;
    
}

header {
    padding: 2%;
    text-align: center;
    box-shadow: 0 0 3px 3px rgb(214, 214, 214);
}

header {
    margin-bottom: 3%;
    font-family: 'Abril Fatface', cursive;
    
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    outline: none;
    padding: 2%;
    padding: 1% 2%;
    border-radius: 5px;
    border: 1px dotted rgb(150, 150, 150);
}

a:hover {
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
}

header>.logo>a {
    color: black;
    border: none;
}

form {
    text-align: center;
    width: 30%;
    margin: auto;
    padding: .9%;
    border-radius: 5px;
    box-shadow: 0 0 3px 3px rgb(214, 214, 214);
}

input {
    background-image: url(images/comment-author.gif);
    background-position: 7px 7px;
    background-repeat: no-repeat;
    font-family: 'Simonetta', cursive;
    border: none;
    padding: 2%;
    width: 60%;
    border-radius: 5px;
    margin-bottom: 3%;
    box-shadow: 0 0 1px 1px rgb(204, 204, 204);
    transition: all, .3s;
}

::-webkit-input-placeholder {
    color: rgb(173, 173, 173);
}

input:focus, input:hover {
    outline: none;
    box-shadow: 0 0 3px 3px rgb(204, 204, 204);
}

input[type='submit'] {
    display: block;
    background-color: black;
    color: white;
    width: 20%;
    margin: 8% auto;
    font-weight: bolder;
}
input[type='submit']:hover {
    box-shadow: 0 0 1px 1px rgb(8, 255, 41);
    background-color: rgb(8, 255, 41);
    color: rgb(0, 0, 0);
}

.intro {
    float: left;
    width: 40%;
    padding: 50px;
}

.intro>.links{
    margin-top: 10%;
}

.intro>.links>a{
    color: white;
    margin-top: 10%;
    border: none;
    padding: 1.5%;
    box-shadow: 0 0 1px 1px rgb(34, 29, 29);
}
.intro-text {
    border-radius: 8px;
    box-shadow: 0 0 3px 3px rgb(214, 214, 214);
}

a#register {
    background-color: rgb(16, 135, 247);
    margin-right: 5%;
}

a#login {
    padding: 1.5% 4%;
    background-color: rgb(137, 255, 1);
}

.intro>.links>a:hover{
    box-shadow: 0 0 2px 2px rgb(61, 60, 60);
}