.container {
    position: relative;
    min-height: 100%;
    max-width: 100%;
    margin: 0;
    overflow-x: hidden;
}

section {
    padding-bottom: 50px;
}

section>.section-container {
    padding: 0;
    margin: 0;
}

nav {
    padding: 50px; 
    height: 500px;
    background-color: black;
}
a {
    border: none;
    color: white;
    padding: 20px 5px;
    display: block;
}


a:hover, .active-link{
    border: none;
    color: rgb(40, 210, 240);
    font-weight: bolder;
    font-size: 1.1rem;
}


.contents {
    color: rgb(46, 46, 46);
}

#entries, #profile, #settings {
    display: none;
}

#settings {
    margin-top: 13%;
}

#profile {
    width: 90%;
    margin: auto;
    margin-top: 3%;
}

#entries-list, #profile-list, #settings-list {
    display: none;
}

ol {
    list-style-type: none;
}


ol>li>figure>img {
    width: 150px;
    height: auto;
    margin: auto;
}
ol>li:first-child {
    float: none;
    clear: both;
    width: 40%;
    margin: auto;
    box-shadow: 0 0 3px 3px rgb(207, 207, 207);
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
}

ol>li {
    width: 20%;
    text-align: center;
    float: left;
    margin-left: 50px;
    box-shadow: 0 0 3px 3px rgb(207, 207, 207);
    padding: 10px;
    transition: all .5s;
    
}

ol>li:hover {
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.637);
    padding: 12px;

}

li>.entry-title {
    color: rgb(82, 82, 82);
    font-size: 16px;
}


li>.show-more {
    color: rgb(2, 115, 243);
    font-weight: bolder;
    font-size: 0.8rem;
    text-decoration: underline;
}

li>.show-more:hover {
    color: rgb(0, 91, 196);
    font-weight: bold;
}

/* To toggle visibility of entry body on / off */
.visible {
    display: none;
}


li>.metadata {
    font-size: 12px;
    font-weight: bold;
    color: rgb(180, 180, 180); 
}

li>.metadata>.date::before {
    content: "Dated : ";
}

li>.metadata>.date::after {
    content: " | ";
}

li>.metadata>.number::before {
    content: " #";
}

li>.metadata>.number::after {
    content: " | ";
}

li>.metadata>.tags::before {
    content: "Tags : ";
}

li>button, button#add-new {
    outline: none;
    border: none;
    border-radius: 5px;
    display: none;
    padding: 10px 20px;
    margin: 2px;
    color: white;
    font-family: 'Simonetta', cursive;
    transition: all .5s;
    font-size: 1.06rem;
    font-weight: bolder;
    
}


button#add-new {
    background: none;
    margin: auto;
    margin-top: 20px;
    border: 1px dotted black;    
    color: rgb(14, 14, 14);
    display: block;
}

button#add-new:hover {
    border: 2px solid black;    
    box-shadow: 0 0 2px 2px rgba(240, 240, 240, 0.637);
    font-weight: bolder;
    font-size: 1.1rem;
}

li>button {
    background-color: red;
}

li>button:hover {
    border: 1px solid black;
}

li:hover button {
    display: inline;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    color: rgb(129, 129, 129);
    background-color: rgb(252, 252, 252);
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 2px 2px rgb(31, 31, 31);
}

footer>a {
    border: none;
    color: rgb(65, 61, 61);
    display: inline;
}
footer>a:hover {
    color: rgb(81, 255, 0);
    border: none;
    font-weight: bolder;
}

